api.dailysql.in {

    # Allow CORS
    header {
        Access-Control-Allow-Origin "https://www.dailysql.in"
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
    }

    # Handle Preflight (OPTIONS)
    @options {
        method OPTIONS
    }
    respond @options 204

    reverse_proxy dailysql-api:8000
}
